target
target-intellij
.classpath
.project
.settings
*.iml
.idea
rtb/data
*.pyc
rtb/requester/*.log
rtb/requester/*.html
mapred-instances
pangool-instances
build
.gradle
*.xml
out
node_modules
rtb/rtb-webapp/app
rtb/rtb-secret-sauce/*.txt
rtb/rtb-secret-sauce/*.json
rtb/scripts/*.txt
.DS_Store
corneria/src/main/gen-java/
corneria/src/test/gen-java/
pipeline/features/derby.log
pipeline/user-pipeline/derby.log
pipeline/notifications/src/test/resources/data_prepare/*
.java-version